<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:fragment="headerFragment">
    <link href="/css/header.css" type="text/css" rel="stylesheet">
    <header >
        <!--로고,검색폼-->
        <div class="hWrap">
            <div>
                <a href="/index"><img src="/img/hLogo.png" class="rounded float-start" alt="그림없음"></a>
            </div>
            <div class="hmenu">
                <nav aria-label="Page navigation example">


                    <ul sec:authorize="isAnonymous()" class="pagination" >
                        <li class="page-item" ><a class="page-link" th:href="@{/agreeJoin.do}" ><span  style="color:#999;">회원가입</span></a></li>
                        <li class="page-item" ><a class="page-link" th:href="@{/login.do}" ><span  style="color:#999;">로그인</span></a></li>
                        <li class="page-item" ><a class="page-link" th:href="@{/cart.do}" ><span  style="color:#999;">장바구니</span></a></li>
                    </ul>



                    <ul sec:authorize="isAuthenticated()" class="pagination">
                        <li class="page-item" style="line-height:30px; padding-right:10px;"><span sec:authentication="name" style="color:#999;"></span>님 반갑습니다</li>
                        <li class="page-item" ><a class="page-link" th:href="@{/agreeJoin.do}" ><span style="color:#999;">정보수정</span></a></li>
                        <li class="page-item" ><a class="page-link" th:href="@{/logout}" ><span  style="color:#999;">로그아웃</span></a></li>
                        <li class="page-item" ><a class="page-link" th:href="@{/cart.do}" ><span style="color:#999;">장바구니</span></a></li>
                    </ul>

                </nav>
            </div>
        </div>
        <!--네비게이션 메뉴부분-->

        <div class="meWrap">
            <nav class="navbar navbar-light ">
                <div class="container-fluid row " style="margin:0 auto;">
                    <li class="nav-item dropdown col-3" style="text-align:center;">
                        <a class="nav-link " href="#"  role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size:18px; color:black;">
                            서점소개
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="left:55px; text-align:center;">
                            <li><a class="dropdown-item" href="#">서점 소개</a></li>
                            <li><a class="dropdown-item" href="/introduction.do">오시는 길</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown col-3 " style="text-align:center;">
                        <a class="nav-link " href="#"  role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size:18px; color:black;">
                            책 구매
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="left:55px; text-align:center;">
                            <li><a class="dropdown-item" href="/mainBookList.do">만화 목록</a></li>
                            <li><a class="dropdown-item" href="/mainBookList.do">최신 만화</a></li>
                            <li><a class="dropdown-item" href="#">인기 만화</a></li>

                        </ul>
                    </li>
                    <li class="nav-item dropdown col-3" style="text-align:center;">
                        <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size:18px; color:black;">
                            커뮤니티
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="left:60px; text-align:center;">
                            <li><a class="dropdown-item" href="/boardList.do">자유게시판</a></li>
                            <li><a class="dropdown-item" href="">겔러리</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown col-3" style="text-align:center;">
                        <a class="nav-link " href="#"  role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size:18px; color:black;">
                            고객센터
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="left:60px; text-align:center;">
                            <li><a class="dropdown-item" href="#">공지사항</a></li>
                            <li><a class="dropdown-item" href="#">문의 게시판</a></li>
                        </ul>
                    </li>
                </div>
            </nav>
        </div>
    </header>

</th:block>
</html>