<!DOCTYPE html>
<html lang="en" xmlns:th="">
<th:block th:fragment="homemaincontent">
    <link href="/css/maincontent.css" type="text/css" rel="stylesheet">
    <div class="mban_zone">
        <ul class="mban_list">
            <li>
                <a ><img src="/img/onepiece/onepiece100.jpg" class="mban_img"></a>
            </li>
            <li>
                <a ><img src="/img/onepiece/onepiece99.jpg" class="mban_img"></a>
            </li>
            <li>
                <a ><img src="/img/onepiece/onepiece98.jpg" class="mban_img"></a>
            </li>
        </ul>
    </div>
    <div class="column">

        <div class="subtit">
            <div class="st1">
                <h3>고객센터</h3>
            </div>
            <div class="st2">
                <div class="st3">
                    <strong>010-4022-3660</strong>
                    <p>월~금 09:00~18:00 (점심시간 09:00~17:00)</p>
                    <p>공휴일/일요일 휴무</p>
                    <p>Email : dkakwhs12396@naver.com</p>
                </div>
                <div class="st4">
                    <a>공지사항</a>
                    <a>문의 게시판</a>
                </div>
            </div>
        </div>

        <div class="subban">
            <div class="sb1">
                <h3>바로가기 서비스</h3>
            </div>
            <div class="sb2">
                <div class="sb2-1">소셜/모바일서비스</div>
                <ul class="sb2-2">
                    <li><a ><img src="/img/naverlogo.png" class="sb2-img"></a></li>
                    <li><a ><img src="/img/facebook.jpg" class="sb2-img"></a></li>
                    <li><a ><img src="/img/kakao.jpg" class="sb2-img"></a></li>
                    <li><a ><img src="/img/youtube.jpg" class="sb2-img"></a></li>
                </ul>
            </div>
        </div>
    </div>
</th:block>
</html>