<!DOCTYPE html>
<html lang="en" xmlns:th="">

<th:block th:fragment="pagingFragment">
    <div style="float: left; width:100%; ">
            <nav aria-label="Page navigation example" >
                <ul class="pagination  justify-content-center"  >
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
    </div>
    <div style="float:left; width:100%;">
        <nav class="navbar navbar-light " >
            <div class="container-fluid  justify-content-center">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="제목 입력하세요" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>
</th:block>

</html>