<!DOCTYPE html>
<html lang="en"
      layout:decorate="layouts/memLayout"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="MemContent">

    <div style="padding:50px 0 0;">
        <th:block th:replace="/common/sidebar::sidebar(
        ~{/menu/sidebarMenu/boardMenu::menu1},
        ~{/menu/sidebarMenu/boardMenu::menu2},
        ~{/menu/sidebarMenu/boardMenu::menu3},
        ~{/menu/sidebarMenu/boardMenu::menu4}
        )">
        </th:block>
        <link href="/css/booklist.css" type="text/css" rel="stylesheet">
        <div class="scontent">
            <div class="itemtitle">
                <h1>자유 게시판</h1>
            </div>
            <div class="itemlist" >
                <table class="table" >
                    <thead class="table-light fs-6" style="height:40px; text-align:center; line-height:30px;">
                    <tr>
                        <th class="col-1">번호</th>
                        <th class="col-3">제목</th>
                        <th class="col-1">작성자</th>
                        <th class="col-1">등록일</th>
                        <th class="col-1">조회수</th>

                    </tr>
                    </thead>
                    <tbody class="fs-6" style="height:35px; text-align:center; line-height:25px;">
                    <tr th:each="dto:${list}">
                        <th th:text="${dto.num}"></th>
                        <td><a href="/boardRead.do" th:text="${dto.subject}"></a></td>
                        <td th:text="${dto.memberentity.userid}"></td>
                        <td th:text="${dto.createDate.toString().substring(0,10)}"></td>
                        <td th:text="${dto.count}"></td>

                    </tr>

                    </tbody>
                </table>
            </div>
            <th:block th:replace="/common/paging::pagingFragment"></th:block>
        </div>
    </div>
</th:block>
</body>
</html>