<!DOCTYPE html>
<html lang="en"
      layout:decorate="layouts/memLayout"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="js">
    <script th:inline="javascript">

        /*<![CDATA[*/
<!--        alert("자바스크립트호출");-->
            let name = /*[[ ${message} ]]*/;
            if(name!=null)
                alert(name);
        /*]]*/



    </script>
</th:block>
<th:block layout:fragment="MemContent">

    <div style="padding:50px 0 0;">
        <th:block th:replace="/common/sidebar::sidebar(
        ~{/menu/sidebarMenu/boardMenu::menu1},
        ~{/menu/sidebarMenu/boardMenu::menu2},
        ~{/menu/sidebarMenu/boardMenu::menu3},
        ~{/menu/sidebarMenu/boardMenu::menu4}
        )">
        </th:block>
        <link href="/css/booklist.css" type="text/css" rel="stylesheet">
        <div class="scontent">
            <div class="itemtitle">
                <h1>자유 게시판</h1>
            </div>
            <div class="itemlist" >
                <table class="table" >
                    <thead class="table-light fs-6" style="height:40px; text-align:center; line-height:30px;">
                    <tr>
                        <th class="col-1">번호</th>
                        <th class="col-3">제목</th>
                        <th class="col-1">작성자</th>
                        <th class="col-1">등록일</th>
                        <th class="col-1">조회수</th>

                    </tr>
                    </thead>
                    <tbody class="fs-6" style="height:35px; text-align:center; line-height:25px;">
                    <tr th:each="dto:${list}">
                        <th th:text="${dto.num}"></th>
                        <td><a href="/boardRead.do" th:text="${dto.subject}"></a></td>
                        <td th:text="${dto.memberentity.userid}"></td>
                        <td th:text="${dto.createDate.toString().substring(0,10)}"></td>
                        <td th:text="${dto.count}"></td>

                    </tr>

                    </tbody>
                </table>
            </div>
<!--            <th:block th:replace="/common/paging::pagingFragment"</th:block>-->

            <div style="float: left; width:100%; ">
                <nav aria-label="Page navigation example" >
                    <ul class="pagination  justify-content-center"  >
                        <th:block th:if="${nowBlock>1}">
                            <li class="page-item me-1">
                                <a class="page-link " th:href="@{/boardList.do(nowPage=(${PS}-1))}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        </th:block>
                        <!-- 한블럭당 표시할 페이지 수-->
                        <th:block th:each="num:${#numbers.sequence(PS,PE-1)}">
                            <li class="page-item me-1">
                                <a class="page-link " th:href="@{/boardList.do(nowPage=${num})}" th:text="${num}"></a>
                            </li>
                        </th:block>
                        <th:block th:if="${totalBlock>nowBlock}">
                            <li class="page-item">
                                <a class="page-link" th:href="@{/boardList.do(nowPage=${PE})}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </th:block>
                    </ul>
                </nav>
            </div>
            <div style="float:left; width:100%;">
                <nav class="navbar navbar-light " >
                    <div class="container-fluid  justify-content-center">
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="제목 입력하세요" aria-label="Search">
                            <button class="btn btn-outline-secondary" type="submit">Search</button>
                        </form>
                    </div>
                </nav>
            </div>
            <div style="float:left; width:100%;">
                <nav class="navbar navbar-light " >
                    <div class="container-fluid  justify-content-end">
                            <a class="btn btn-secondary me-2" href="/boardPost.do">글쓰기</a>
                            <a class="btn btn-secondary" th:href="@{/boardList.do(nowPage=1)}">처음으로</a>
                    </div>
                </nav>
            </div>
        </div>

    </div>

</th:block>
</body>
</html>