<!DOCTYPE html>
<html lang="en"
      layout:decorate="layouts/memLayout"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="MemContent">
    <script type="text/javascript" src="/js/board.js" ></script>
    <div style="padding:50px 0 0;">
        <th:block th:replace="/common/sidebar::sidebar(
        ~{/menu/sidebarMenu/boardMenu::menu1},
        ~{/menu/sidebarMenu/boardMenu::menu2},
        ~{/menu/sidebarMenu/boardMenu::menu3},
        ~{/menu/sidebarMenu/boardMenu::menu4}
        )">
        </th:block>
        <link href="/css/scontents.css" type="text/css" rel="stylesheet">
        <div class="scontent">
            <div class="itemtitle">
                <h1>자유 게시판</h1>
            </div>
            <div class="itemlist" >
                <table class="table" >
                    <thead  style="height:40px; text-align:center; line-height:30px; border-top:1px solid gray;">
                    <tr>
                        <th scope="col-1" class="table-light fs-6">제목</th>
                        <td class="col-10" colspan="2" th:text="${board.subject}"></td>
                    </tr>
                    <tr >
                        <th scope="col-1" class="table-light fs-6">글쓴이</th>
                        <td class="col-8" th:text="${board.memberentity.username}"></td>
                        <td scope="col-1">조회수 : <span th:text="${board.count}"></span></td>
                    </tr>
                    </thead>
                    <tbody class="fs-6" style=" line-height:25px; ">
                    <tr>
                        <td colspan="3" style="padding:20px; font-size:18px;" th:text="${board.content}">
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="input-group" style="margin-bottom:20px;">
                    <div class="input-group-text">답변</div>
                    <textarea id="reply-content" class="form-control" aria-label="With textarea"></textarea>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="padding:30px 10px 30px;">
                    <span style="line-height:40px; color:red;">기타 의견은 250자 내외로 작성 가능합니다</span>
                    <a class="btn btn-primary " th:onclick="javascript:replysave();">댓글 달기</a>
                    <input type="hidden" id="boardnum" th:value="${board.num}">
                </div>
                <div class="card" style="border-top: 1px solid #ededed; border-bottom: 1px solid #ededed; margin:20px 0 20px;">
                    <div class="card-header fs-6" style="text-align:center; font-weight:bold;">댓글 리스트</div>
                    <ul class="list-group">
                        <li th:each="b:${board.reply}" class="list-group-item d-flex justify-content-between" style="line-height:33px; font-size:13px;">
                            <div th:text="${b.content}"></div>
                            <div class="d-flex">
                                <div >작성자 : <span th:text="${b.memberentity.name}"></span></div>&nbsp;&nbsp;
                                <button type="button" class="btn btn-primary" style="height:33px; line-height:20px;">삭제</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div style="float:left; width:100%; padding:30px 0 30px;">
                <nav class="navbar navbar-light " >
                    <div class="container-fluid  justify-content-center">
                        <a th:href="@{/boardDelete.do(num=${board.num},nowPage=${nowPage})}" class="btn btn-dark me-2" >삭제하기</a>
                        <a th:href="@{/boardList.do(nowPage=${nowPage})}" class="btn btn-secondary">목록으로</a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>