<!DOCTYPE html>
<html lang="en"
      layout:decorate="layouts/memLayout"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</th:block>
<th:block layout:fragment="MemContent">

    <div style="padding:50px 0 0;">
        <th:block th:replace="/common/sidebar::sidebar(
        ~{/menu/sidebarMenu/boardMenu::menu1},
        ~{/menu/sidebarMenu/boardMenu::menu2},
        ~{/menu/sidebarMenu/boardMenu::menu3},
        ~{/menu/sidebarMenu/boardMenu::menu4}
        )">
        </th:block>
        <link href="/css/scontents.css" type="text/css" rel="stylesheet">
        <div class="scontent">
            <div class="itemtitle">
                <h1>글 쓰기</h1>
            </div>
            <div class="itemlist" >

                    <form method="post" action="/boardPostProc.do" >

                        <input type="text" name="subject" placeholder="제목입력" class="form-control mb-3">
                        <textarea name="content" class="form-control mb-3 summernote" ></textarea>
                        <input type="submit" value="전송" class="form-control mt-3 btn-primary">
                    </form>
                <th:block layout:fragment="js">
                    <script>
                      $('.summernote').summernote({
                        placeholder: '글쓰기',
                        tabsize: 2,
                        height: 300
                      });
                    </script>
                    <div class="mt-3">
                            <input type="button" onclick="history.go(-1)" value="이전으로" class="btn btn-secondary">
                    </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>