<!DOCTYPE html>
<html lang="en"
      layout:decorate="layouts/memLayout"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="MemContent">

    <div style="padding:50px 0 0;">
        <th:block th:replace="/common/sidebar::sidebar(
            ~{/menu/sidebarMenu/bookMenu::menu1},
            ~{/menu/sidebarMenu/bookMenu::menu2},
            ~{/menu/sidebarMenu/bookMenu::menu3},
            ~{/menu/sidebarMenu/bookMenu::menu4}
            )">
        </th:block>
        <link href="/css/booklist.css" type="text/css" rel="stylesheet">
        <div class="scontent">
            <div class="itemtitle">
                <h1>만화 목록</h1>
            </div>
            <div class="itemlist" >
                <div class="card mb-3" style="width:850px; margin:0 auto;">
                    <div class="row g-0" style="padding:20px;">
                        <div class="col-md-4">
                            <img th:src="@{/IMG/}+${book.folderPath}+@{/}+${book.filename}" class="img-fluid rounded-start" alt="..." style="width:270px; height:400px;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body " style="height:350px; padding-top:0; padding-bottom:0;">
                                <table class="table" style=" text-align:center;" >
                                    <thead style="height:80px; line-height:60px; border-top:1px solid gray;">
                                    <tr class="table-light fs-3">
                                        <td  colspan="3"  th:text="${book.subject}"></td>
                                    </tr>
                                    </thead>
                                    <tbody style="height:320px; line-height:80px;">
                                    <tr>
                                        <th scope="row" class="table-light fs-4">가격</th>
                                        <td class="fs-6" style="color:red;" th:text="${book.price}"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="table-light fs-4">수량</th>
                                        <td>
                                            <select name="" style="width:50px; height:30px; text-align:center;">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" th:text="${book.content}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--답글달기 공간-->
            <div class="input-group" style="margin-bottom:20px;">
                <div class="input-group-text">답변</div>
                <textarea id="reply-content" class="form-control" aria-label="With textarea"></textarea>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="padding:30px 10px 30px;">
                <span style="line-height:40px; color:red;">기타 의견은 250자 내외로 작성 가능합니다</span>
                <a class="btn btn-primary " id="btn-reply-save">댓글 달기</a>
                <input type="hidden" id="bookNum" th:value="${book.num}">
            </div>
            <div class="card" style="border-top: 1px solid #ededed; border-bottom: 1px solid #ededed; margin:20px 0 20px;">
                <div class="card-header fs-6" style="text-align:center; font-weight:bold;">댓글 리스트</div>
                <ul th:each="reply : ${book.bookReply}" class="list-group">
                    <li  class="list-group-item d-flex justify-content-between" style="line-height:33px; font-size:13px;">
                        <div th:text="${reply.content}"></div>
                        <div class="d-flex">
                            <div>작성자 : <span th:text="${reply.memberentity.name}"></span></div>&nbsp;&nbsp;
                            <a class="btn btn-primary" style="height:33px; line-height:20px;" th:onclick="'javascript:index.replyDelete(' + ${book.num} +','+ ${reply.num}+')'">삭제</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div style="float:left; width:100%; padding:30px 0 30px;">
                <nav class="navbar navbar-light " >
                    <div class="container-fluid  justify-content-end">
                        <a  class="btn btn-dark me-2" id="btn-delete">삭제하기</a>
                        <a th:href="@{/mainBookList.do(nowPage=${nowPage})}" class="btn btn-secondary">목록으로</a>
                    </div>
                </nav>
            </div>
            <script src="/js/book.js"></script>
        </div>

        </div>
    </div>
    </div>
</th:block>
</body>
</html>