<!DOCTYPE html>
<html lang="en"
      layout:decorate="layouts/memLayout"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="js">
    <script th:inline="javascript">

        /*<![CDATA[*/
<!--        alert("자바스크립트호출");-->
            let name = /*[[ ${message} ]]*/;
            if(name!=null)
                alert(name);
        /*]]*/
    </script>

</th:block>
<th:block layout:fragment="MemContent">

<div style="padding:50px 0 0;">
        <th:block th:replace="/common/sidebar::sidebar(
        ~{/menu/sidebarMenu/bookMenu::menu1},
        ~{/menu/sidebarMenu/bookMenu::menu2},
        ~{/menu/sidebarMenu/bookMenu::menu3},
        ~{/menu/sidebarMenu/bookMenu::menu4}
        )">
        </th:block>
    <link href="/css/booklist.css" type="text/css" rel="stylesheet">
    <div class="scontent">
        <div class="itemtitle">
            <h1>만화 목록</h1>
        </div>
        <div class="itemlist" >
            <ul>
                <li class="itemli" >
                    <form class="itemform">
                        <a href="/bookRead.do"><img src="/img/onepiece/onepiece100.jpg"></a>
                        <h3>원피스 100 : 패왕색</h3>
                        <em><strong>10,000</strong>원</em>
                        <a href="#" class="itembtn">장바구니</a>
                        <a href="#" class="itembtn">구매하기</a>
                    </form>
                </li>
            </ul>
        </div>
        <th:block th:replace="/common/paging::pagingFragment"></th:block>
        <div style="float:left; width:100%;">
            <nav class="navbar navbar-light " >

                <div sec:authorize="hasRole('ROLE_ADMIN')" class="container-fluid  justify-content-end">
                    <a  class="btn btn-secondary me-2" href="/bookPost.do">글쓰기</a>
                    <a class="btn btn-secondary" th:href="@{/mainBookList.do(nowPage=1)}">처음으로</a>
                </div>
                <div sec:authorize="! hasRole('ROLE_ADMIN')" class="container-fluid  justify-content-end">
                    <a class="btn btn-secondary" th:href="@{/mainBookList.do(nowPage=1)}">처음으로</a>
                </div>
            </nav>
        </div>
    </div>
</div>
</th:block>
</body>
</html>