<!DOCTYPE html>
<html lang="en"
      layout:decorate="layouts/memLayout"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="MemContent">
    <link href="/css/login.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/js/member.js" ></script>
    <div class="logincontent">
        <div class="logintitle">
            <h1>LOGIN</h1>
        </div>
        <!--<form name="loginform" method="post" th:action="@{/loginForm.do}">-->
        <form name="loginform" method="post" action="/loginForm.do">
            <!--토큰값
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            -->
            <div class="loginformbox">
                <p>아이디가 없으면 무료 회원가입을 해주시기 바랍니다</p>
                <ul>
                    <li><input type="text" name="userid" placeholder="아이디"  class="logininput"></li>
                    <li><input type="password" name="pwd" placeholder="비밀번호" class="logininput"></li>
                </ul>
                <a class="loginbutton" onclick="loginCheck()"><span>로그인</span></a>
            </div>
            <a  href="/oauth2/authorization/google">Google</a>
        </form>
        <div class="findlink">
            <a href="/agreeJoin.do"><span>무료회원가입</span></a>
            <a href="/memberFind.do">아이디/비밀번호찾기</a>
        </div>
    </div>
</th:block>
</body>
</html>