<!DOCTYPE html>
<html lang="en"
      layout:decorate="layouts/nonMemMainLayout"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="MemContent">
    <link th:href="@{/css/member.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/member.js" ></script>
    <div style="height:1000px;">
    <div>
        <div class="stepjoin">
            <h1>아이디 찾기</h1>
        </div>
        <div class="checkbox" style="height:300px; padding:40px 0 40px;" align="center" >
            <p>회원가입시 사용하신 이름/휴대폰번호/이메일번호를 입력해주세요</p>
            <div class="infobox">
                <form name="idfindform" action = "/member/memberIdFind.do" method="post">

                    <ul class="infoul">
                        <li class="inputli">
                            <p>
                                <label >이름</label>
                                <input type="text" name="username" class="logininput" style="width:350px;">
                            </p>
                            <p>
                                <label >휴대폰번호</label>
                                <input type="text" name="phonef" class="logininput" style="width:110px;" maxlength="3">
                                <input type="text" name="phones" class="logininput" style="width:110px;" maxlength="4">
                                <input type="text" name="phonet" class="logininput" style="width:110px;" maxlength="4">
                            </p>
                            <p>
                                <label>이메일</label>
                                <input type="email" name="email" class="logininput" style="width:350px;">
                            </p>
                        <li>
                            <a  class="findidbutton" onclick="memberIdFind()"><span>아이디찾기</span></a>
                        </li>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>

    <div>
        <div class="stepjoin">
            <h1>비밀번호 찾기</h1>
        </div>
        <div class="checkbox" style="height:300px; padding:40px 0 40px;" align="center" >
            <p>회원가입시 사용하신 이름/휴대폰번호/이메일번호를 입력해주세요</p>
            <div class="infobox">
                <form name="pwdfindform" action = "/member/memberPwdFind.do" method="post">

                    <ul class="infoul">
                        <li class="inputli">
                            <p>
                                <label >아이디</label>
                                <input type="text" name="userid" class="logininput" style="width:350px;">
                            </p>
                            <p>
                                <label >휴대폰번호</label>
                                <input type="text" name="phonef" class="logininput" style="width:110px;" maxlength="3">
                                <input type="text" name="phones" class="logininput" style="width:110px;" maxlength="4">
                                <input type="text" name="phonet" class="logininput" style="width:110px;" maxlength="4">
                            </p>
                            <p>
                                <label>이메일</label>
                                <input type="email" name="email" class="logininput" style="width:350px;">
                            </p>
                        <li>
                            <a  class="findidbutton" onclick="memberPwdFind()"><span>비밀번호 찾기</span></a>
                        </li>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    </div>
</th:block>
</body>
</html>