.scontent{
    width: 1000px;
    padding: 0 0 80px;
    display: table-cell;
    vertical-align: top;
}

.itemtitle{
	padding:20px 30px;
}
.itemtitle h1{
	color:#111;
	font-weight:400;
	font-size:30px;
}
.itemlist{
    margin-bottom:50px;
    border-top:1px solid gray;
}